.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 80px 0 20px;
  border-radius: 10px;
  background-color: #304ffe;
  color: #fff;
}

.desc {
  text-align: justify;
  margin-left: 30px;
}

.desc h3 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .desc h3 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .desc {
    margin: 0px !important;
  }

  .desc p {
    font-size: 12px;
  }
  .footer {
    flex-direction: column;
  }

  .footer ul {
    list-style: none !important;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .footer ul li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 448px) {
  .desc {
    width: 100%;
  }

  .lists {
    margin-top: 15px;
  }
}
